.button1 {
    background-color: black;
     color: white;
     padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: Helvetica, "Times New Roman", sans-serif;
  font-size: 28px
}

.button2 {
    background-color: rgb(255, 230, 0);
     color: bl;
     padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: Helvetica, "Times New Roman", sans-serif;
  font-size: 28px
}
